@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Nanum+Pen+Script&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
}

*,
*::after,
*::after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem !important;
    font-family:'Montserrat','sans-serif' !important;
    color: black;
    font-weight: normal; 
}
a,a:hover {
    text-decoration: none ;
    color: black;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
figure {
    margin:0 !important;
}
/* bootstrap styles  */
.card-header, .card-footer {
    padding: 0; 
    margin-bottom: 0 !important; 
    background: none ; 
    border-bottom: none !important;
}
.card-header:first-child {
        border-radius: 0 !important;
}
.card-footer:last-child {
    border-radius: 0 !important;
}
.card-footer {
    background: none !important; 
    border: none !important;
}
/* Typo */
.lighter-bold {
    font-weight: 500 !important;
}
.semi-bold {
    font-weight: 600 !important;
}
.bold {
    font-weight: 700 !important;
}
.normal {
    font-weight: normal;
}
/* Layout */
.navbar-nb {
    background-color: #FEDD00; 
}

 .section {
    padding: 10rem 0;
} 

/* Hero section */
.hero-section {
    background-color: #FEDD00;
    min-height: calc(100vh - -45px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 6.9rem;
}

.hero-section-title {
    max-width: 48.7rem;
    position: relative;
}
.hero-section-title p {
    color: #277FFF;
    font-size: 3.2rem;
    line-height:4.3rem;
    letter-spacing: 0.444444px;
    font-family: 'Nanum Pen Script', cursive;
    position: absolute;
}
.nb-logo {
    position: relative;
}

.hero-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section-title:before {
    content: '';
    top: calc(-100% - 22px);
    right: 1.5rem;
    width: 57px;
    height: 113px;
    background-size: cover;
    position: absolute;
    background: url(../images/Arrow-right.svg);
    transform: rotate(5.5deg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero-section-title:after {
    content: "";
    top: -96%;
    left: 18px;
    width: 46px;
    height: 84px;
    position: absolute;
    background: url(../images/Arrow-left.svg);
    transform: rotate(-2deg);
    background-repeat: no-repeat;
    background-position: center;
}
.nb-logo:before {
    content: '';
    right: 9.125rem;
    top: 88px;
    width: 80px;
    height: 150px;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background: url(../images/Arrow-bottom.svg);

}
.hero-section-title .top-first {
    top: calc(-100% - 62px);
    left: -1.25rem;
}
.hero-section-title .top-second {
    top: calc(-100% - 81px);
    right: -20%;
}
.hero-section-title .bottom {
    bottom: calc(-100% - 101px);
    right: -11%;
}
/* Typography */
.heading-large {
    font-weight: 300;
    font-size: 4.4rem;
    line-height: 5.4rem;
    margin-bottom: 0;
}
.team-highlights-wrapper h1 {
    max-width: 84.4rem;
}
.team-highlight-right {
    align-self: flex-end;
}
.team-highlight-top {
    width: 100%;
    margin-bottom: 12rem;
}
.sub-heading {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;  
    font-weight: normal;
}
.heading-3 {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 3rem;
    margin-bottom: 0;
}
.team-year-exp {
    width: 50%;
}
.team-years-domains-wrap {
    flex-wrap: wrap;
    width: 100%;
    border-right: 2.5px solid #E7E7E7;
}

.team-year-exp-about p,.team-bottom-col p {
    white-space: nowrap;
}
.team-year-exp-about {
    padding-left: 9.2rem;
}
.mb +.mb {
    margin-top: 1.8rem;
    margin-bottom: 0;
}
.team-highlight-bottom img {
    height: 8rem;
    width: 8rem;
}
.heading-4 {
    font-weight:600;
    font-size:2.6rem;
    line-height:3.2rem;
    margin-bottom: 0;
    text-transform: uppercase;
}
.blue-text-team {
    font-family: 'Nanum Pen Script', cursive;
    color: #277FFF;
    font-size: 3.2rem;
    line-height: 4rem;
    font-style: normal;
    margin-bottom: 0;
}
.team-hg-bottom-col-wrap {
    width: 100%;
}
.team-bottom-col {
    width: 50%;
}
.team-hg-bottom-col-right {
    padding-left: 9.2rem;
}


.heading-2 {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.8rem;
}
.normal-text {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: rgba(0,0,0,0.7);
    margin-bottom: 0;
}
.culture-values-wrapper > p {
    max-width: 54.5rem;
}
.heading-bottom {
    margin-bottom: 2.8rem;
}
.culture-body-section-top {
    margin-top: calc(7.95rem - 4.95rem);
}
.culture-body {
    margin-top: 4.95rem;
    padding-top: 2.75rem;
    border-top: 2.5px solid #E7E7E7;
    min-height: 140.5px;
}
.culture-body-left {
    flex-grow: 1;
}
.culture-body img {
    height: 1.4rem;
    min-width: 1.4rem;
}
.culture-body-section-bottom .culture-body {
    margin-top: 6.95rem;
}
.heading-5 {
    font-weight:500;   
    font-size:2.2rem;
    line-height:3rem;
    margin: 0;
}
.inside-our-studio-wrapper > p {
    max-width: 54.5rem;
}
.inside-studio {
    padding: 8rem 1.5rem;
    display: flex;
    justify-content: space-between;
}
 .inside-studio img {
    height: 100%;
}

.studio-img.img-1 {
    max-width: 40%;
}
.studio-img.img-2 {
    max-width: 30%;
    width: 100%;
}
.studio-img.img-3 {
    max-width: 25%;
    width: 100%;
}
.studio-img figure {
    max-height: 34.4rem;
}
.culture-body-section-top a,.culture-body-section-top a:hover  {
    text-decoration: none;
    color: black;
}
.culture-body-left p + .culture-body-left p {
    margin-bottom: 0.8rem;
}
.culture-body-left p + p {
    margin-top: 0.8rem;
}
.studio-img {
    margin-bottom: 2.8rem;
}
.image1  > img{
    height: 35.4rem;
}
.inside-our-studio-section::before {
    position:absolute;
    background-color:#fd0;
    height: 62.3rem;
    bottom:0;
    content:"";
    z-index:-1;
    width:100%;
}
.inside-our-studio-section {
    position: relative;
    padding-bottom: 7.9rem;
}

.meet-our-hero-section-wrapper > h2{
    max-width: 47rem;
}
.heading-large-bottom {
    margin-bottom:8rem;
}
.meet-our-hero-section-wrapper .card {
        border-radius: 0 !important;
        border: none !important;
        margin-bottom: 3rem !important;
}
.card-header.hero-card{ 
    border: none;
    padding: 0;
}
.card-footer.hero-card {
    border: none;
    padding: 2.8rem 0;
}
.card-header.hero-card.explore-card {
    background-color: #fd0;
    justify-content: space-between;
    height: 29.9rem;
    width: 100%;
    padding: 2.8rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.card-header.hero-card.explore-card p + p {
    margin-top: 1rem;
}
.card-footer.hero-card h4 {
    margin-bottom: 0.4rem;
}
.explore-btn {
    border: 1.5px solid #000000;
}
.btn-yellow {
    border-radius: 0;
    padding: 1.1rem 1.7rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    background-color: #fd0;
    width: 100%;
}
.btn-text {
    font-weight:500;
    font-size:1.4rem;
    line-height:1.7rem;
}
.btn-size {
    width:19.6rem;
    min-height: 4.3rem;
    border: 1px solid transparent;
    letter-spacing: 0.1rem;
}
.view-all {
    justify-content: center;
    align-items: center;
    margin-top: 106px;
}
.logos {
    display: flex;
    flex-wrap: wrap;
}
.recognition-col {
    width: calc(100% / 5);
    margin-bottom: 4.8rem;
    align-items: center;
    max-width: unset;
    justify-content: center;
    display: flex;
}
.recognition-section-wrapper > h1 {
    max-width: 32.7rem;
}

.precious-section::before{ 
    background: url(../images/precious-design.svg) left center / contain no-repeat;
    content: "";
    width: 32.8rem;
    height: 32rem;
    position: absolute;
}
.precious {
    margin-bottom: 3rem;
}
.recognition-col figure {
    max-width: 15rem;
    height: auto;
}

/* carousal */
.testimony-title {
    font-weight:600;
    font-size:2.2rem;
    line-height:2.7rem;
    text-transform: uppercase;
    margin-bottom: 2.8rem;

}
/* Accordion */

.culture-body .culture-body-desc,.culture-body .accordion-close,.culture-body.active .heading-5,.culture-body.active .accordion-open {
    display: none;
}
.culture-body.active .culture-body-desc,.culture-body.active .accordion-close {
    display: block;
}
/* Swiper carousal */

.slider-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    top: -102px;
    padding-left: 9rem;
    margin-left: -6px;
}
.slider-controls a + a {
    margin-left: 1.4rem;
}
.swiper-button-next, .swiper-button-prev {
  position: static !important;
}

.swiper-button-prev::after { 
    content: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 8H1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 1L1 8L8 15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
    cursor: pointer;
    background-size: cover ;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 6.2rem !important;
    height: 6.2rem !important;
    background-position: 50% 50%;
    outline: none;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    border: 2px solid #B2B2B2 !important;
    color: #B2B2B2;
    border-radius: 50%;
    opacity: 0.2;
    pointer-events:none; 
    outline: none;
}

.swiper-button-next::after {
    content: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 8H1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 1L1 8L8 15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
    cursor: pointer;
    transform: rotateZ(180deg);
    width: 6.2rem !important;
    height: 6.2rem !important;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    outline: none;
}


.swiper-button-prev, .swiper-button-next {
    border-radius: 50%;
    border: 2px solid #FFDD00 !important;
    outline: none;
    width: 7.2rem;
    height: 7.2rem;
    padding: 2.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-container {
    position: relative;
}

.swiper-slide {
    width: 100% !important;
}
.carousal-content > h1 {
    max-width: 735px;
    margin-bottom: 2.8rem;
    position: relative;
}
.carousal-content {
    padding-left: 8.9rem;
}
.carousal-content > h4 {
    margin-bottom: 0.4rem;
}
.carousal-content > h1:before {
    position: absolute;
    background: url(../images/inverted-comma.svg);
    width: 6rem;
    height: 5rem;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    left: -56px;
    background-position: center;
    top: -4px;
}

.explore-card-footer {
    text-align: center;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-close {
    background-image: url('data:image/svg+xml;utf-8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.01379 14V7.99057H14V6.04245H8.01379V0H5.98621V6.04245H0V7.99057H5.98621V14H8.01379Z" fill="black"/></svg>');
    transform: rotateZ(45deg);
    display: block;
    width: 14px;
    height: 14px;
}
.accordion-open {
    background-image: url('data:image/svg+xml;utf-8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.3" d="M8.01379 14V7.99057H14V6.04245H8.01379V0H5.98621V6.04245H0V7.99057H5.98621V14H8.01379Z" fill="black"/></svg>');
    display: block;
    width: 14px;
    height: 14px;
}
.btn-yellow:hover {
    background-color: black;
    color: white;
    transition: .15s ease-in-out;
}
.card-footer.hero-card > p {
    margin-bottom: 0;
}
.precious-sec-right {
    padding-left: 101px !important;
}
.card-header.hero-card {
    border: none;
    padding: 0;
    display: flex;
    height: 29.9rem;
    align-items: flex-end;
}
.meet-our-hero-section {
    padding-top: 4rem;
    padding-bottom: 240px;
}
.recognition-section {
    padding-top: 0;
}
.hide {
    display: none;
}
.show {
    display: block;
}

/* Footer */
.footer {
    background-color: #FEDD00;
    padding-top:122px;
    padding-bottom: 28.3px;
}
.footer-heading {
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 6.8rem;
    max-width: 387px;
    margin-bottom: 1.2rem;
}
.contact-us > p {
    text-transform: none;
    margin-bottom: 2.8rem;
}
.footer-top-about > p {
    font-weight: normal;
    text-transform: none;
    max-width: 408px;
}
.btn-enquiry {
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 2.1rem 2.8rem 2.2rem 2.8rem;
    letter-spacing: 1px;
    border:1px solid transparent;
    color: black;
    border: 1.5px solid black;
}
.btn-enquiry:hover {
    text-decoration: none !important;
    color: white;
    background-color: black;

}
.btn-enquiry:hover svg {
    fill: white;
}
.footer-sub-heading {
    opacity: 0.3;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.0rem;
    text-transform: uppercase;
    margin-bottom: 2.8rem;
}
ul, li{
    list-style-type: none;
    margin-top:0;
    padding:0;
}
#footer-site-menu li {
    padding-bottom: 2.8rem;
}
#footer-site-Expertise a, #footer-site-help-you a, #footer-site-menu a{
    color: black;
}
#footer-site-Expertise li a:hover, #footer-site-help-you li a:hover, #footer-site-menu li a:hover {
    text-decoration: underline;
}
#footer-site-Expertise li , #footer-site-help-you li {
    padding-bottom: 3.2rem;
    font-weight: normal;
}
.stars {
    display:flex;
    margin-bottom: 0.6rem;
}
.rating-site {
    margin-right: 1.6rem !important;
}
.rating-number {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.0rem;
}
.rating + .rating {
    margin-top: 4.8rem;
}
.icon-start {
    font-size: 1.4rem;
    margin-right: 0.2rem;
}
.review-txt {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 0;
}
.footer-link {
    display: inline-flex;
}
.rating a, .rating a:hover {
    color: black;
    text-decoration: none !important;
}
.footer-bottom-body {
    display: flex;
    justify-content: space-between;
}
.nb-footer-logo {
    width:161.73px;
    height:31.29px;
}
.footer-bottom-right > p {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.6rem;
}
.stars-wrap {
    display: flex;
    flex-direction: column;
}
.social-links-wrap a {
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social-links-wrap a img { 
    height:22px;
    width: 100%;
}
.social-links-wrap a + a {
    margin-left: 32px;
}
.footer-site-nav {
    margin-bottom: 46.82px;
    padding-bottom: 47.5px;
    border-bottom: 3px solid  rgba(0,0,0,0.1);
}
.footer-top {
    padding-bottom: 122px;
}
.copyright > p {
    margin-right: 3.2rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
}
.icon-start::before {
    content:url(../images/star.svg);
}
.social-links-wrap {
    align-items: flex-start;
}
.img-card {
    margin-bottom: 1.25rem;
}
.footer-bottom-right {
    display: flex;
    justify-content: space-between;
}
/* media queries */

@media (max-width: 1399.98px) {

}
@media (max-width: 1199.98px) { 

}
@media (max-width: 991.98px) { 

    .hero-section-title {
        max-width: 44.7rem;
    }
    .hero-section  {
        min-height: 95vh;
    }
    .studio-img figure {
        max-height: 27.4rem;
    }
    .studio-img.img-2 {
        max-width: 30%;
        width: 100%;
    }
    .studio-img.img-3 {
        max-width: 24%;
        width: 100%;
    }
    .studio-img.img-1 {
        max-width: 40%;
    }
}
@media (max-width: 768px) { 
    
    .hero-section-title {
        max-width: 35rem;
        margin:0 0 3rem;
    }
    .team-highlight-right {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .team-highlights-wrapper {
        display: flex;
        flex-wrap:wrap;
        flex-direction: column-reverse;
    }
    .hero-section-title:before {
        content: '';
        top: calc(-100% - 62px);
        right: -1.5rem;
    }
    .nb-logo:before {
        content: '';
        right: 3.125rem;
        top: 49px;
    }
    .hero-section-title:after {
        content: "";
        top: calc(-100% - 34px);
        left: -12px;
    }
    .hero-section-title .top-first {
        top: calc(-100% - 77px);
        left: -4.25rem;
    }
    .hero-section-title .top-second {
        top: calc(-100% - 109px);
        right: -40%;
    }
    .hero-section-title .bottom {
        bottom: calc(-100% - 126px);
        right: -32%;
    }
    .section {
        padding: 5rem 0;
    }
    .team-highlight-right {
        margin-bottom: 2.875rem;
    }
    .team-highlight-right > img {
        max-width: 39.625rem;
    }
    .title {
        font-size: 3rem;
        line-height: 4.5rem;
    }
    .heading-large-bottom {
        margin-bottom: 4rem;
    }
    .team-highlight-top {
        width: 100%;
        margin-bottom: 5rem;
    }
    .team-highlights-wrapper h1 {
        max-width: 100%;
    }
    .heading-bottom {
        margin-bottom: 1rem;
    }
    .normal-text {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .heading-5 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .heading-4 {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }
    .card-header.hero-card.explore-card {
        height: 26.7rem;
        padding: 2.8rem;
    }
    .view-all {
        margin-top: 4rem;
    }
    .heading-3 {
        font-size: 3rem;
        line-height: 2.5rem;
    }
    .sub-heading {
        font-size: 1.9rem;
        line-height: 2.4rem;
    }
    .team-highlight-bottom img {
        height: 7rem;
        width: 7rem;
    }
    .blue-text-team {
        font-size: 2.9rem;
        line-height: 3.5rem;
    }
    .culture-body {
        margin-top: 5.5rem;
    }
    .heading-2 {
        font-size: 2.5rem;
        line-height: 3.8rem;
    }
    .meet-our-hero-section-wrapper > h2 {
        max-width: 100%;
    }
    .recognition-section-wrapper > h1 {
        max-width: 100%;
    }
    .btn-text {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
    
    .recognition-col {
        width: calc(100% / 4);
        margin-bottom: 5.4rem;
    }
    .precious-section::before { 
        height: 20%;
    }
    .carousal-img {
        max-width: 33.5rem;
    }
   
    .explore-card  p + p{
        line-height: 1.5;
    }
    .carousal-img {
        margin: 0 auto;
    }
    .carousal-content > h1:before {
        width: 4rem;
        height: 3rem;
        left: -40px;
    }
    .testimony-title {
        font-size: 1.9rem;
        line-height: 2rem;
        margin-bottom: 2.8rem;
    }
    .carousal-content > h1 {
        max-width: 100%;
        margin-bottom: 2.8rem;
    }
    /* .owl-nav {
        bottom: unset;
    } */
    .carousal-content {
        margin-bottom: 3rem;
    }
    .slider-controls {
        display: none;
    }
    .btn-yellow {
        padding: 1rem 1.3rem;
    }
    .precious-sec-right {
        padding-left: 0 !important;
    }

    .card-header.hero-card {
        height: 26.7rem;
    }    

    /* footer */
    .footer-heading { 
        font-size: 4rem;
        line-height: 5rem;
    }
    .footer-top {
        padding-bottom: 79px;
    }
    .footer-sub-heading {
        margin-bottom: 1rem; 
    }
    #footer-site-Expertise li, #footer-site-help-you li {
        padding-bottom: 1.4rem;
    }
    .contact-us > p, .footer-top-about > p {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .footer-bottom-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-top-about > p {
        margin-top: 2.8rem;
    }
    .nb-footer-logo {
        margin-bottom: 1rem !important;
    }
    .carousal-content {
        padding-left: 6.5rem;
    }
}
@media (max-width: 575.98px) { 

    .hero-section-title {
        max-width: 100%;
    }
    .hero-section-title::before, .hero-section-title::after,.nb-logo:before {
        display:none;
    }
    .top-first, .top-second, .bottom {
        position: relative !important;
        top: unset !important;
        bottom: unset !important;
        left: unset !important;
        right: unset !important;
        padding-left: 1.25rem;
        text-align: left;
        font-size: 2rem !important;
        line-height: 1.3 !important;
    }
    .hero-section {
        padding-top: 3.3rem;
    }
    .nb-logo {
        max-width: 23.85rem;
        position: relative;
        margin-bottom: 2rem !important;
    }
    p.top-first::before, p.top-second::before, p.bottom::before {
        content: '';
        width: 0.4rem;
        height: 0.4rem;
        background: #277fff;
        border-radius: 50%;
        position: absolute;
        top: 1.25rem;
        left: 0;
    }
    .hero-section {
        min-height: 93vh;
    }
    .team-highlights-wrapper h1 {
        max-width: 100%;
        font-size: 1.8rem;
    }
    .team-highlight-right {
        margin-bottom: 2.875rem;
    }
    .team-highlight-right > img {
        max-width: 27.625rem;
    }
    .team-highlight-top {
        flex-direction: column;
    }
    .team-years-domains-wrap {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3rem;
    }
    .sub-heading {
        font-size: 1.3rem;
        line-height: 1rem;
    }

    .mb +.mb {
        margin-top: 1.9rem;
        margin-bottom: 0;
    }
    .heading-3 {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .team-year-exp-about .sub-heading {
        margin-top: 1rem;
    }
    .team-highlight-top {
        width: 100%;
        margin-bottom: 3.5rem;
    }
    .team-bottom {
        flex-basis: 50%;
        margin-bottom: 1.875rem;
    }
    .heading-4 {
        font-size: 1.7rem;
        line-height: 3rem;
    }
    .blue-text-team {
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .section {
        padding: 2.5rem 0;
    }
    .heading-2 {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .heading-bottom {
        margin-bottom: 1rem;
    }
    
    .inside-studio {
        padding: 3rem 0.9375rem 0 0.9375rem;
    }
    .inside-our-studio-wrapper > p {
        margin-bottom: 1rem;
    }
    .studio-img {
        margin-bottom: 1.5rem;
    }
    .culture-body {
        margin-top: 1rem;
        padding-top: 2rem;
    }
    .studio-img figure {
        max-height: unset;
    }
    .meet-our-hero-section-wrapper > h2 {
        max-width: 100%;
    }
    .card-footer.hero-card {
        padding: 2.5rem 0;
    }
    .heading-5 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .card-header.hero-card.explore-card {
        padding: 2.3rem;
        height: 20.5rem;
    }
    .explore-btn {
        width: 52%;
        display: inline-block;
    }
    .btn-text {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
    .view-all {
        margin-top: 2rem;
    }
    
    .btn-size {
        width: 13.6rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recognition-section-wrapper > h1 {
        max-width: 100%;
    }
    .heading-large-bottom {
        margin-bottom: 1.9rem;
    }
    .recognition-col {
        width: calc(100% / 2);
        margin-bottom: 3.4rem;
        max-width: unset;
    }
    .precious {
        width: 50% !important;
    }
    .precious-section::before {
       display:none;
    }
    section.precious-section {
        padding-top: 0;
    }
    section.recognition-section {
        padding-top: 4rem;
    }
    .testimony-title {
        font-size: 1.9rem;
        line-height: 2rem;
        margin-bottom: 1.9rem;
    }
    .carousal-content {
        margin-bottom: 3rem;
        padding-left: 3.5rem;
    }
    .carousal-content > h1:before {
        width: 3rem;
        height: 2.5rem;
        left: -29px;
    }
    .carousal-content > h1 {
        max-width: 100%;
        margin-bottom: 2rem;
    }
    .carousal-img {
        max-width: 27.5rem;
    }
    .meet-our-hero-section.section {
        padding-top: 3rem;
    }
    .team-year-exp-about {
        padding-left: 0;
    }
    
   
    .inside-studio img {
        height: unset;
    }
    .studio-img.img-1,.studio-img.img-2,.studio-img.img-3 {
        max-width: 100%;
        width: 100%;
    }
    .team-hg-bottom-col-right {
        padding-left: 0;
        margin-top: 1.9rem;
    }
    .team-hg-bottom-col-wrap {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .team-highlight-bottom {
        width: 100%;
        flex-direction: column;
    }
    .title {
        line-height: 2.5rem;
        margin-bottom: 3rem !important;
    }
    .precious-sec-right {
        padding-left: 1.5rem !important;
    }
    .culture-body img {
        height: 1.1rem;
        min-width: 1.1rem;
    }
    .card-header.hero-card {
        height: 100%;
    }
    .culture-body {
        border: 0;
    }
    .culture-body-section-bottom .culture-body {
        margin-top: 2rem;
    }
    /* footer */
    .footer {
        padding-top: 43px;
    }
    .culture-body-section-top {
        margin-top: 0;
    }
    .culture-body {
        min-height: 89.5px;
    }
    .footer-heading {
        font-size: 2.5rem;
        line-height: 2rem;
        margin-bottom: 1.2rem;
        max-width: 100%;
    }
    .contact-us > p, .footer-top-about > p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        max-width: 100%;
    }
    .footer-top-about > p {
        margin-top: 1.8rem;
    }
    .contact-us {
        margin-top: 2rem;
    }
    .footer-top {
        padding-bottom: 28px;
    }
    #footer-site-menu li {
        padding-bottom: 1.8rem;
    }
    .site-map, .expertise, .help, .rating {
        width: 50% !important;
    }
    #footer-site-Expertise li, #footer-site-help-you li {
        padding-bottom: 1rem;
    }
    .footer-site-nav {
        padding-bottom: 18.5px;
    }
    .footer-sub-heading {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .rating-number {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .review-txt {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    .rating-site {
        margin-right: 1rem !important;
    }
    .rating + .rating {
        margin-top: 1rem;
    }
    .rating-site img {
        max-width: 100%;
        min-width:2.5rem;
    }
    .nb-footer-logo {
        margin-bottom: 1.5rem !important;
    }
    .copyright > p {
        margin-right: 3.2rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .footer-bottom-right  {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .social-links-wrap {
        margin-top: 1.5rem;
    }
    .footer-site-nav {
        border:0;
        position: relative;
    }
    .footer-site-nav::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: -15px;
        right: -15px;
        height: 3px;
        background-color: rgba(0,0,0,0.1);
    }
}




